Dictionaries

In [1]:
# Dictionaries

In [16]:
d = {"key1":"value1", "key2":123}

In [9]:
d['key1']

'value1'

In [18]:
d["key2"]

123

In [19]:
d = {"key1":[1,2,3,4]}

In [22]:
my_list = d["key1"]

In [25]:
my_list[2]

3

Booleans in Python 
They are just True and False

In [26]:
True

True

In [29]:
False

False

In [30]:
1>2

False

In [31]:
1<2

True

In [32]:
my_list = [1,2,3]

In [33]:
my_list[1]

2

In [35]:
#tupels are also similarw

In [36]:
t  = (1,2,3)

In [38]:
t[0]

1

In [39]:
#In list we can re assign to the perticular value like
my_list

[1, 2, 3]

In [40]:
my_list[0] = "new"

In [41]:
my_list

['new', 2, 3]

In [42]:
#but in case of tupels it cant be done , They are immutable

Sets

In [2]:
{1,1,1,1,2,2,2,3,3,3,4,4,}

{1, 2, 3, 4}

In [4]:
set([1,1,2,2,2,3,3,4,4])#will return the number of

{1, 2, 3, 4}

In [6]:
s = {1,2,3}

In [7]:
s

{1, 2, 3}

In [9]:
#to add a number to it 
s.add(4)

In [10]:
s

{1, 2, 3, 4}

Boolean values

In [11]:
1<2

True

In [12]:
1>2

False

In [13]:
1==1

True

In [14]:
1==2

False

In [15]:
1

SyntaxError: can't assign to literal (<ipython-input-15-ddf2057761bc>, line 1)

In [16]:
1 != 3

True

In [17]:
"hi " != "hell0"

True

 "and" and "or

In [19]:
#in "or" one statemet can be wrong and in "and" both has to be true to get True
1<2 or 2<1 #for OR all conditions not required to be true , only one of them has to be true

True

In [20]:
1<2 and 2<1 #for and condtion all onditions must be true

False

If and elif condtions

In [21]:
if 1<2:
    print("yup!")

yup!

In [22]:
if True:
    x = 2+2

In [23]:
x

4

In [24]:
if 1 == 2:
    print("you are right")
else:
    print("no, you are wrong ")

no, you are wrong

In [25]:
if 1 != 2:
    print("you are right")
else:
    print("no, you are wrong ")

you are right

In [28]:
if 1 == 2:
    print("you are right")
elif 3 == 3:
    print("this is also correct ")# here if the first input is wrong , it goes to the netx input and check for its correctness 
else:
    print("no, you are wrong ")

this is also correct