# Python Crash course

In [1]:
1

1

In [3]:
1.2

1.2

In [5]:
1+1

2

In [7]:
2*3 + 5*5

31

Variable assignment

In [14]:
var = 2

In [15]:
var

2

In [17]:
x = var + 2

In [18]:
x

4

In [19]:
x = 2
y = 3

In [20]:
x + y

5

In [21]:
x = x + x

In [22]:
x

4

Strings

In [23]:
# we can use either single quote or double quotes

In [24]:
'This is single quote '

'This is single quote '

In [25]:
"This is double quote "

'This is double quote '

In [27]:
#the invalid format is ('i don't know')
#it can be written as "i don't know"
"i can't go"

"i can't go"

Printing strings

In [28]:
x = "hell0"

In [29]:
print(x)

hell0

In [30]:
num = 18 
name= "Sandeep "

In [33]:
"my name is {} and my number is {}".format(name,num)

'my name is Sandeep  and my number is 18'

In [34]:
# in the above cell we got that as string , if we want a clear output without string just add print to it 
print("my name is {} and my number is {}".format(name,num))

my name is Sandeep  and my number is 18

In [36]:
#in the above if we pass the variable number ,we no longer need to worry about the order 
"my name is {one} and my number is {two}".format(one = name, two = num )

'my name is Sandeep  and my number is 18'

Indexing Strings

In [37]:
# Indexing is basically grabbing the letter from the word or sentence , for example
s = "sandeep"

In [38]:
s[0]

's'

In [39]:
s[1]

'a'

In [40]:
s[2]

'n'

In [41]:
s[3]

'd'

In [43]:
s[4]  #and so on

'e'

In [44]:
# with this slicing also can be done
# all the letters beyond some number or up to some number 
s = "abcdefghijk"

In [45]:
s[0:]

'abcdefghijk'

In [47]:
s[1:]

'bcdefghijk'

In [48]:
s[1:5]

'bcde'

Lists 
Lists can be any data type , Like 
It can be integers or strings

In [49]:
#For exxmple , Integers 
[1,2,3,]

[1, 2, 3]

In [50]:
#Strings 
['a', 'b', 'c']

['a', 'b', 'c']

In [51]:
my_list = ["a", "b", "c"]

In [53]:
my_list.append("d")

In [54]:
my_list

['a', 'b', 'c', 'd', 'd']

In [55]:
my_list[0]

'a'

In [56]:
my_list[1:3]

['b', 'c']

In [57]:
my_list[0] = "new" #adds new in place of "a" at the position 0

In [58]:
my_list

['new', 'b', 'c', 'd', 'd']

In [59]:
#list can also be nested

In [61]:
list = [1,2,[3,4]]

In [63]:
list[1]

2

In [64]:
list[2]

[3, 4]

In [65]:
list[2][1]

4