In [1]:
def times2(var):
    return var*2

In [2]:
times2(4)

8

In [3]:
#map

In [4]:
seq = [1,2,3,4]

In [6]:
list(map(times2, seq))

[2, 4, 6, 8]

In [9]:
list(map(lambda num : num*3, seq))

[3, 6, 9, 12]

In [12]:
list(filter(lambda num:num%2 == 0, seq)) #will return only the numbers which will divide by 2

[2, 4]

Methods

In [14]:
s = "hello my name is Sandeep"

In [15]:
s.lower() #will make all the letters lower case

'hello my name is sandeep'

In [16]:
s.upper()

'HELLO MY NAME IS SANDEEP'

In [17]:
s.split()

['hello', 'my', 'name', 'is', 'Sandeep']

In [21]:
tweet = "sandeep rocks #sandy tukkunor "

In [22]:
tweet.split('#')[1] #prints after specified ones

'sandy tukkunor '

Dictionaries

In [1]:
d = {"k1":1, "k2":2}

In [2]:
d

{'k1': 1, 'k2': 2}

In [3]:
d.keys()#returns all the keys

dict_keys(['k1', 'k2'])

In [26]:
d.items() #all the items saperated

dict_items([('k1', 1), ('k2', 2)])

In [27]:
d.values()#returns only the keys

dict_values([1, 2])

In [28]:
lst = [1,2,3]

In [29]:
lst.pop() #removes the last item of the list (permanently)

3

In [30]:
lst

[1, 2]

In [31]:
lst = [1,2,3,4,5]

In [32]:
item = lst.pop()

In [33]:
lst

[1, 2, 3, 4]

In [34]:
first = lst.pop(0) #removes the first item if the list

In [35]:
lst

[2, 3, 4]

In operator

In [36]:
'x' in [1,2,3]

False

In [38]:
'x' in ['x','y','z']

True

Tuple unpacking

In [39]:
x = [(1,2), (3,4),(5,6)]

In [40]:
x[0][1] #we can take out the specific value out of the tuple

2

In [41]:


for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [42]:
#we can also do by the method called tuple unpacking 
for (a,b) in x:
    print(a) #this will print the items which are associated with the position a 
    #so the above function will print 1,3,5

1
3
5

In [43]:
for (a,b) in x:
    print(b) #this function will print 2,4,6

2
4
6

In [45]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6